body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F6FCDF;
    color: #1A1A19;
}

h2 {
    font-size: 1.8rem;
    color: #1A1A19;
    margin: 20px 0;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.footer {
    background-color: #31511E;
    color: #F6FCDF;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto; 
    width: 54%; 
    font-size: 0.9rem;
    border-radius: 25px; 
    bottom: 0;
}

.btn {
    background-color: #31511E;
    color: #F6FCDF;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #859F3D;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1rem;
    color: #1A1A19;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F6FCDF;
}

.login-box {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.login-box h2 {
    font-size: 1.5rem;
    color: #1A1A19;
    margin-bottom: 10px;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.signup-link,
.login-link {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #31511E;
}

.signup-link a,
.login-link a {
    color: #31511E;
    text-decoration: none;
}

.signup-link a:hover,
.login-link a:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #F6FCDF;
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    max-width: 400px;
}

.close-btn,
.chart-close-btn,
.info-close-btn {
    font-size: 1.5rem;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.sidebar {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 25px;
}

.sidebar h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.sidebar p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}